$header-background: #00222B;
$header-text-color: white;

$right-side-left-margin: 20px;
$default-padding: 10px;

$button-text-color-primary: #FF222B;
$text-color: white;

$primary-button-color: #3676B6;
